.tests0 {
    width: 100%;
    height: 1800px;
    background-color: red;
}

.test1 {
    width: 100%;
    height: 1800px;
    background-color: var(--color-black);
}

.test2 {
    width: 100%;
    height: 1800px;
    background-color: var(--color-blue);
}

.test3 {
    width: 100%;
    height: 1800px;
    background-color: green;
}

.test4 {
    width: 100%;
    height: 1800px;
    background-color: brown;
}