@use '@/styles/helpers' as *;

.user-edit {
    background-color: var(--color-white);

    &__inner {
        display: flex;
        column-gap: fluid(300, 50);
        padding-top: 80px;
        place-items: center;
        place-content: center;

        @include mobile {
            flex-direction: column;
            row-gap: 35px;
        }
    }
}