@font-face {
    font-family: 'League Spartan';
    src: url(/src/shared/assets/fonts/LeagueSpartan-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url(/src/shared/assets/fonts/LeagueSpartan-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url(/src/shared/assets/fonts/LeagueSpartan-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url(/src/shared/assets/fonts/LeagueSpartan-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}